<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

  <div class="modal-header">
    <h4 class="modal-title" id="myArticleLabel" jhiTranslate="greatBigExampleApplicationApp.article.home.createOrEditLabel">Create or edit a Article</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group" [hidden]="!article.id">
      <label for="id" jhiTranslate="global.field.id">ID</label>
      <input type="text" class="form-control" id="id" name="id" [(ngModel)]="article.id" readonly />
    </div>
    <div class="form-group">
      <label class="form-control-label" jhiTranslate="greatBigExampleApplicationApp.article.title" for="field_title">Title</label>
      <input type="text" class="form-control" name="title" id="field_title" [(ngModel)]="article.title" required />
      <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
        <small class="form-text text-danger" [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" jhiTranslate="greatBigExampleApplicationApp.article.content" for="field_content">Content</label>
      <div>
        <div *ngIf="article.content" class="form-text text-danger clearfix">
          <span class="pull-left">{{article.contentType}}, {{byteSize(article.content)}}</span>
          <button type="button" (click)="article.content=null;article.contentType=null;" class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
        </div>
        <input type="file" (change)="setFileData($event, article, 'content', false)" jhiTranslate="entity.action.addblob" />
      </div>
      <input type="hidden" class="form-control" name="content" id="field_content" [(ngModel)]="article.content" required />
      <input type="hidden" class="form-control" name="contentType" id="field_contentType" [(ngModel)]="article.contentType" />
      <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
        <small class="form-text text-danger" [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" jhiTranslate="greatBigExampleApplicationApp.article.date" for="field_date">Date</label>
      <div class="d-flex">
        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="article.date" required />
      </div>
      <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
        <small class="form-text text-danger" [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
        <small class="form-text text-danger" [hidden]="!editForm.controls.date?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
      </div>
    </div>

    <div class="form-group">
      <label jhiTranslate="greatBigExampleApplicationApp.article.blog" for="field_blog">Blog</label>
      <select class="form-control" id="field_blog" name="blog" [(ngModel)]="article.blog">
                <option [ngValue]="null"></option>
                <option [ngValue]="blogOption.id === article.blog?.id ? article.blog : blogOption" *ngFor="let blogOption of blogs; trackBy: trackBlogById">{{blogOption.name}}</option>
            </select>
    </div>
    <div class="form-group">
      <label jhiTranslate="greatBigExampleApplicationApp.article.tag" for="field_tag">Tag</label>
      <select class="form-control" id="field_tag" multiple name="tag" [(ngModel)]="article.tags">
                <option [ngValue]="getSelected(article.tags, tagOption)" *ngFor="let tagOption of tags; trackBy: trackTagById">{{tagOption.name}}</option>
            </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
  </div>
</form>